/* CSS Selectors: 7 Types */
/* 1. Element Selector */
p {
  color: aquamarine;
}

/* 2. Class Selector (Most Used */
.text-blue {
  color: blue;
}

.bgBlack {
  background-color: black;
}

/* 3. ID Selector */
#section {
  color: cadetblue;
}

/* 4. Universal Selector */
* {
  margin: 0;
  padding: 0;
}

/* 5. Group Selector */
h3,
h4,
h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

/* 6. Descendant Selector */
nav ul li {
  display: inline;
  padding: 20px;
}

/* 7. Psudo-class Selector */
a:hover {
  color: black;
}

/* Named Color */
.test {
  color: red;
  color: blueviolet;

  color: #e4dbdb;
  color: rgb(155, 50, 100);
  color: rgba(155, 50, 100, 0.5);
}

body {
  /* background-color: chartreuse; */
}

.hero {
  background-image: url("./image/img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gradient-box{
    background: linear-gradient(to left, #1d1818, #b90808);
}